{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">🐇 Bienvenue dans Bunny Manager !</h1>
    <div class="list-group">
        <a href="{% url 'admin:index' %}" class="list-group-item list-group-item-action">
            🔧 Accès à l’administration
        </a>
        <a href="{% url 'nouveau_elevage' %}" class="list-group-item list-group-item-action">
            🐣 Créer un nouvel élevage
        </a>
        <a href="{% url 'liste_elevages' %}" class="list-group-item list-group-item-action">
            📋 Voir la liste des élevages
        </a>
        <a href="{% url 'regles_jeu' %}" class="list-group-item list-group-item-action">
            📜 Règles du jeu
        </a>

    </div>
</div>
{% endblock %}


